#crest{
    max-width: 150px;
    max-height: 150px;
}

.faction{
    display: inline-block;
}

#splash{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    box-shadow: 0px 0px 10px black;
}

p{
    font-size: 12;
    text-indent: 50px;
}

.infoCard{
    width: 300px;
}