#footer {
    background-color: #650e0f;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 10px grey;
}

.footerText{
    width: 100%;
    color: white;
    font-family: 'Cinzel', serif;
}